<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next youtube videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video idea</a>
</div>