<div class="card card-body">
    <h3>Video Idea</h3>
    {{#each errors}}
        <div class="alert alert-danger">{{text}}</div>
    {{else}}
    {{/each}}
    <form action="/ideas/{{idea.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="{{idea.title}}" />
        </div>
        <div class="form-group">
            <label for="details">DEtails</label>
            <textarea class="form-control" name="details">{{idea.details}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>