{{#each ideas}}
    <div class="card card-body mb-3">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit</a>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn btn-danger btn-block">Delete</button>
        </form>
    </div>
{{else}}
    <p>no video ideas listed</p>
{{/each}}